name: DocFX Build and Publish
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  DOTNET_VERSION: '10.0.x' # The .NET SDK version to use
jobs:
  generate-docs:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Setup DocFX
        uses: crazy-max/ghaction-chocolatey@v2
        with:
          args: install docfx
      - name: Install dependencies
        run: dotnet restore
      - name: DocFX Build
        working-directory: docfx_project
        run: docfx docfx.json
        continue-on-error: false
      - name: Publish
        # if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docfx_project/_site
          force_orphan: true
